/* line 1, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 48px; }
  /* line 4, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
  body header {
    padding: 0 0 3% 0;
    background-image: url(../images/IMG_20170820_195306_891.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%; }
    /* line 10, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body header .intro {
      padding: 15% 0 8% 4%; }
      /* line 12, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body header .intro h1,
      body header .intro h2,
      body header .intro h3,
      body header .intro p {
        color: #fff; }
      /* line 18, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body header .intro p {
        margin-top: 7%;
        font-size: 17px; }
    /* line 23, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body header button {
      background-color: transparent;
      border: 2px solid #fff;
      padding: 10px 48px;
      color: #fff;
      margin: auto;
      margin: auto;
      display: block; }
    /* line 32, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body header ul {
      list-style-type: none;
      padding: 0;
      position: absolute;
      right: 1%;
      bottom: 45%; }
      /* line 38, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body header ul li {
        margin: 10px; }
        /* line 39, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body header ul li .fa-facebook {
          color: #3B5998; }
        /* line 42, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body header ul li .fa-linkedin {
          color: #007bb6; }
        /* line 45, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body header ul li .fa-instagram {
          color: #cd486b; }
        /* line 48, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body header ul li .fa-google {
          color: #db3236; }
        /* line 51, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body header ul li .fa-twitter {
          color: #1dcaff; }
        /* line 55, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body header ul li .fa-facebook,
        body header ul li .fa-linkedin,
        body header ul li .fa-instagram,
        body header ul li .fa-google,
        body header ul li .fa-twitter {
          font-size: 25px; }
        /* line 62, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body header ul li .fa-facebook:hover,
        body header ul li .fa-linkedin:hover,
        body header ul li .fa-instagram:hover,
        body header ul li .fa-google:hover,
        body header ul li .fa-twitter:hover {
          transform: scale(1.3);
          transition: all .2s ease-in-out; }
    /* line 72, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body header #up {
      position: fixed;
      font-size: 50px;
      right: 2%;
      bottom: 5%;
      cursor: pointer;
      z-index: 99;
      color: orangered; }
    /* line 81, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body header #up:hover {
      bottom: 6%;
      transition: all .2s ease-in-out; }
  /* line 86, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
  body .bg1 {
    color: #444; }
    /* line 88, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body .bg1 .container {
      padding-top: 4%;
      padding-bottom: 4%; }
      /* line 92, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container .col-md-7 h4 {
        margin-top: 9%; }
      /* line 95, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container .col-md-7 span {
        font-weight: bold; }
      /* line 98, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container .col-md-7 .details {
        padding: 20px;
        position: absolute;
        top: 100%;
        color: #fff;
        width: 93%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 1s; }
        /* line 107, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
        body .bg1 .container .col-md-7 .details a {
          text-decoration-line: none; }
      /* line 111, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container .col-md-7 div {
        overflow: hidden; }
      /* line 114, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container .col-md-7 .row div:hover .details {
        top: 0;
        transition: 1s; }
      /* line 118, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container .col-md-7 .btn-visit {
        padding: 5px 10px;
        border: 1px solid #fff;
        color: #fff;
        position: absolute;
        bottom: 4%;
        right: 41%; }
      /* line 127, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container .mt30 {
        margin-top: 30px; }
      /* line 130, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg1 .container tspan {
        font-size: 20px; }
  /* line 135, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
  body .bg2 {
    background-image: url(../images/heartburn_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #e0e0e0; }
    /* line 141, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body .bg2 .container {
      padding-top: 4%;
      padding-bottom: 4%; }
  /* line 146, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
  body .bg3 {
    background-image: url(../images/footer-background-1170x396.jpg);
    background-size: cover;
    color: #000; }
    /* line 150, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
    body .bg3 .container {
      padding-bottom: 2%; }
      /* line 152, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
      body .bg3 .container a {
        color: #000;
        margin-left: 10px; }

@media only screen and (max-width: 1024px) {
  /* line 161, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
 
  /* line 164, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
  .details {
    padding: 5px !important;
    font-size: 10px; }
  /* line 168, /home/kerketta/Desktop/sikhar_assignment/css/style.scss */
  .btn-visit {
    padding: 0.1px !important; } }

/*# sourceMappingURL=style.css.map */
